﻿@page "/Book"
<style>
    .sm-img {
        height: 75px;
    }
</style>

@if(Model != null)
{
<div class="card">
    <div class="card-header">Nouveau</div>
    <div class="card-body">
        <EditForm Model="Form">
            <div class="form-group">
                <label>Titre:</label>
                <InputText class="form-control" @bind-Value="Form.Title"></InputText>
            </div>
            <div class="form-group">
                <label>Image:</label>
                <input type="file" id="book-image" @onchange="OnFileChanged"/>
            </div>
            <div class="form-group">
                <button class="btn btn-outline-info" @onclick="AddAsync">Envoyer</button>
            </div>
        </EditForm>
    </div>
</div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            @foreach (BookModel item in Model)
            {
            <tr>
                <td>@item.Id</td>
                <td>@item.Title</td>
                <td><img class="sm-img" src="@("http://localhost:58721/api" + @item.ImageUrl)"></td>
            </tr>
            }
        </tbody>
    </table>
}

